/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Stylesheet */

/*Typography*/
@font-face {
	font-family: 'sacramento';
	src: url('vendors/webfonts/-'sacramento'Regular.ttf') format('truetype');
}

/* Body */

body{
margin:0;
padding:0;
background: url('../images/forestbridge.jpg') no-repeat center;
background-size: cover;
height:100vh;
}

/* Common Styling */

ul { list-style-type: none; }
a { text-decoration: none;}
img {width: 100%;}

body, a { 
	font-family: 'sacramento', sans-serif;
	color:#fff; 
}

/*header*/

header .wrapper {
	max-width: 1464px; /* With respect to iMac */
	width: calc(100% - 50px);
	margin: 0 auto;
}
header {
	right: 0;
	left: 0;
	top: 0;
}
.logo {
	width:5%;
	float:left;
}
.navigation {
	display: flex;
	float:right;
}

.navigation__links a {
	display: inline-block;
	padding: 13px 25px;
	color: #fff;
	font-size: 19px;
}

/*main*/

main .wrapper p{
	font-size:50px;
	position:absolute;
	top:50%;
	left:40%;
}

main span
{
	font-size:15px;
	display:block;
	text-align: center;
}

.line{ 
border-top:2px solid white;
}


/* Footer*/

footer .wrapper{
	padding: 25px 0px 25px;
	position:absolute;
	top:90%;
	left:0%;
}

 .socialmedia
{
display: flex;
float:right;
}

footer p{
	float:left;
}

.socialmedia__links a {
	display: inline-block;
	padding: 13px 20px;
	color: #fff;
	font-size: 19px;
}

footer p:first-letter{
	text-transform: uppercase;
}

a[title="w3.css"] {
	text-decoration: underline;
}

a[title="w3.css"]:hover{
	color: purple;
}